<!DOCTYPE html>
<html lang="de">
<head>
	<title>Tippspiel EM 2012</title>

	<!-- Meta -->
	<meta charset="utf-8" />
	<meta name="author" content="Kevin D." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex, nofollow" />

	<!-- Style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
	<style>
		body {
			padding: 20px 0;
		}
	</style>

	<!-- HTML5 shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!-- <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Favicons -->
</head>
<body>

	<div class="container-fluid">

		<noscript>
			<div class="alert alert-error">
				<strong>JavaScript ist deaktiviert!</strong> Bitte aktiviere es, sonst wird diese Website nicht ordentlich funktionieren.
			</div>
		</noscript>

		{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
			<button class="close" data-dismiss="alert">×</button>
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith%}

		<form action="{{ url_for('login') }}" method="post" class="pull-right form-inline">
			<input name="user" id="user" type="text" class="input-small" placeholder="Benutzername"value="{{request.form.user}}" />
			<input name="pass" id="pass" type="password" class="input-small" placeholder="Passwort" />
			<button type="submit" class="btn btn-primary"> Login</button>
		</form>
		<div style="clear: right;"></div>

		<section class="hero-unit">
			<img class="pull-right" src="{{ url_for('static', filename='img/ball.png') }}" />
			<h1>Tippspiel zur EM 2012</h1>
			<p>
				Nach dem großen Erfolg zur WM 2010 hoste ich dieses Jahr wieder ein kleines privates Tippspiel zur Europameisterschaft der Herren im Fußball.
			</p>
			<p>
				Zugang gibt es nur direkt bei mir.
			</p>
			<p>
				<strong>Viel Spaß!</strong>
			</p>
		</section>

		<div class="row-fluid">
			<blockquote class="span4">
					<p>Der Ball ist rund. Das Spiel dauert 90 Minuten.</p>
					<small>Josef "Sepp" Herberger</small>
			</blockquote>
			<blockquote class="span4">
					<p>Da kam dann das Elfmeterschießen. Wir hatten alle die Hosen voll, aber bei mir lief's ganz flüssig.</p>
					<small>Paul Breitner</small>
			</blockquote>
			<blockquote class="span4">
					<p>Fußball ist wie Schach – nur ohne Würfel!</p>
					<small>Jan Böhmermann</small>
			</blockquote>
		</div>
</body>
</html>
