{% extends "base.html" %}
{% block body %}
		<div class="row-fluid">
			<section class="span12">
				<h1>
					<img src="{{ url_for('static', filename='img/flags/' + match.match_team_home + '.png') }}" /> {{ match.match_team_home }}
					{% if match.match_score_home != -1 and match.match_score_visitor != -1 %}
					{{ match.match_score_home }}:{{ match.match_score_visitor }}
					{% else %}
					-:-
					{% endif %}
					{{ match.match_team_visitor }} <img src="{{ url_for('static', filename='img/flags/' + match.match_team_visitor + '.png') }}" />
				</h1>
				<table class="table table-bordered table-striped">
					<caption>Übersicht über die Tipps für das Spiel {{ match.match_team_home }} gegen {{ match.match_team_visitor }}.</caption>
					<thead>
						<tr>
							<th>Spieler</th>
							<th>Tipp</th>
							<th>Punkte</th>
						</tr>
					</thead>
					<tbody>
						{% for t in tipps %}
						<tr>
							<td><a href="/user/{{ t.user_id }}">{{ t.user_name }}</a></td>
							<td>{{ t.tipp_score_home }}:{{ t.tipp_score_visitor }}</td>
							<td>{{ t.points if t.points else 0 }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
{% endblock %}
