{% extends "base.html" %}
{% block body %}
		<div class="row-fluid">
			<section class="span12">
				<img class="pull-right" src="https://secure.gravatar.com/avatar/{{user.gravatar}}" />
				<h1>{{ user.user_name }}</h1>
				<table class="table table-bordered table-striped">
					<caption>Übersicht über die abgelaufenen Tipps von {{ user.user_name }}.</caption>
					<thead>
						<tr>
							<th>Gr.</th>
							<th>Heim</th>
							<th>Gast</th>
							<th>Ergebnis</th>
							<th>Tipp (Punkte)</th>
						</tr>
					</thead>
					<tbody>
						{% for m in tipps %}
						<tr>
							<td>{{ m.match_group }}</td>
							<td><img src="{{ url_for('static', filename='img/flags/' + m.match_team_home + '.png') }}" /> {{ m.match_team_home }}</td>
							<td><img src="{{ url_for('static', filename='img/flags/' + m.match_team_visitor + '.png') }}" /> {{ m.match_team_visitor }}</td>
							<td>
								<a href="/match/{{ m.match_id }}">
								{% if m.match_score_home!=-1 and m.match_score_visitor!=-1 %}
								{{ m.match_score_home }}:{{ m.match_score_visitor }}
								{% else %}
								-:-
								{% endif %}
								</a>
							</td>
							<td>
								{{m.tipp_score_home}}:{{m.tipp_score_visitor}}
								({{ m.tipp_points if m.tipp_points else 0 }})
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
{% endblock %}
