<!DOCTYPE html>
<html lang="de">
<head>
	<title>404</title>

	<!-- Meta -->
	<meta charset="utf-8" />
	<meta name="author" content="Kevin D." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex, nofollow" />

	<!-- Style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
	<style>
		body {
			padding: 20px 0;
		}
	</style>

	<!-- Favicons -->
</head>
<body>

	<div class="container-fluid">
		<div class="hero-unit">
			<h1>404</h1>
			<p>Die Seite nach der du suchst konnte nicht gefunden werden.</p>
			<a class="btn btn-large btn-info" href="/">Zum Tippspiel</a>
		</div>
	</div>

</body>
</html>
