{% extends "base.html" %}
{% block body %}
	<h1>Profil</h1>
	<div class="row-fluid">
		<section class="span12">
			<form class="form-horizontal" action="/settings" method="post">
				<fieldset>
					<legend>Passwort ändern</legend>
					<div class="control-group">
						<label class="control-label" for="pass_new">Neues Passwort</label>
						<div class="controls">
							<input class="input-xlarge" type="password" name="pass_new" id="pass_new" />
							<span class="help-inline">Gib ein neues Passwort ein. Es sollte mindestens 12 Zeichen lang sein.</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="pass_new_confirm">Bestätigung</label>
						<div class="controls">
							<input class="input-xlarge" type="password" name="pass_new_confirm" id="pass_new_confirm" />
							<span class="help-inline">Bitte gibt das gleiche Passwort nochmal zur Bestätigung ein.</span>
						</div>
					</div>
					<div class="form-actions">
						<button class="btn btn-primary">Passwort ändern</button>
					</div>
				</fieldset>
			</form>
		</section>
	</div>
{% endblock %}