{% load staticfiles %}<!DOCTYPE html>
<html lang="de">
<head>
    <title>tippspiel:login</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="author" content="Kevin D." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" />
    <style>
        body {
            padding: 20px 0;
        }
    </style>

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Favicons -->
</head>
<body>

    <div class="container-fluid">

        <noscript>
            <div class="alert alert-error">
                <strong>JavaScript ist deaktiviert!</strong> Bitte aktiviere es, sonst wird diese Website nicht ordentlich funktionieren.
            </div>
        </noscript>

        <p>Login!</p>
        
</body>
</html>