{% load i18n staticfiles activepage %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>tippspiel :: login</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="author" content="Kevin D." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- Style -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.css" />

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Script -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
</head>
<body>

    <noscript>
        <p>
            <strong>{% trans "JavaScript is disabled!" %}</strong> {% trans "Please enable it, otherwise this app won't work." %}
        </p>
    </noscript>

    <div data-role="page">

        <header data-role="header">
            <h1>tippspiel</h1>
        </header>

        {% if form.errors %}
        <div class="ui-bar ui-bar-e">
            <p><strong>{% trans "Error" %}!</strong> {% trans "Your username and password didn't match. Please try again." %}</p>
        </div>
        {% endif %}

        <section data-role="content">
            <form method="post" action="{% url login %}">
                {% csrf_token %}
                <ul data-role="listview">
                    <li>
                        <input class="input-small" placeholder="{% trans "Username" %}" type="text" name="username" id="id_username" maxlength="30" value="{{ request.POST.username }}" />
                    </li>
                    <li>
                        <input class="input-small" placeholder="{% trans "Password" %}" type="password" name="password" id="id_password" />
                    </li>
                    <li>
                        <button type="submit" data-theme="b">{% trans "Login" %}</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </li>
                </ul>
            </form>
        </section>

        <footer data-role="footer">
            <h4></h4>
        </footer>

    </div>

</body>
</html>