{% extends "tippspiel/base.html" %}
{% load i18n dicthelpers %}
{% block body %}

<header data-role="header" data-position="fixed">
        {% if number > 1 %}
        <a data-role="button" data-icon="arrow-l" data-inline="true" data-iconpos="notext" href="{% url tippspiel_matchday_detail matchday_number=number|add:"-1" %}">Previous</a>
        {% endif %}
        <h1>{{ number }}. {% trans "Matchday" %}</h1>
        {% if number < 34 %}
        <a data-role="button" data-icon="arrow-r" data-inline="true" data-iconpos="notext" class="ui-btn-right" href="{% url tippspiel_matchday_detail matchday_number=number|add:"1" %}">Next</a>
        {% endif %}
</header>

<section data-role="content">
    <form action="{% url tippspiel_matchday_detail number %}" method="post">
    {% csrf_token %}
    <ul data-role="listview">
        {% for match in matches %}
        {% with tipp=tipps|lookup:match.pk %}
        <li>
            {% if match.has_started %}
            {% include "tippspiel/match/matchday_detail_match_started.html" %}
            {% else %}
            {% include "tippspiel/match/matchday_detail_match_not_started.html" %}
            {% endif %}
        </li>
        {% endwith %}
        {% endfor %}
        <li>
            <button type="submit" data-icon="check" data-iconpos="right" data-theme="b">{% trans "Save" %}</button>
        </li>
    </ul>
    </form>
</section>

{% endblock %}