{% extends "tippspiel/base.html" %}
{% load i18n staticfiles %}
{% block body %}

<header data-role="header" data-position="fixed">
    <h1>{% trans "Matchdays" %}</h1>
</header>

<section data-role="content">
    <ul data-role="listview" data-filter="true">
        {% for m in matchdays %}
        <li>
            <a href="{% url tippspiel_matchday_detail m %}">{{ m }}</a>
        </li>
        {% endfor %}
        <li data-theme="a">
            <a href="{% url tippspiel_match_list %}">{% trans "All matches" %}</a>
        </li>
    </ul>
</section>

{% endblock %}