{% extends "tippspiel/base.html" %}
{% load i18n staticfiles %}
{% block body %}

<header data-role="header" data-position="fixed">
        {% if number > 1 %}
        <a data-role="button" data-icon="arrow-l" data-inline="true" data-iconpos="notext" href="{% url tippspiel_matchday_detail matchday_number=number|add:"-1" %}">Previous</a>
        {% endif %}
        <h1 style="text-align: center;">{{ number }}. {% trans "Matchday" %}</h1>
        {% if number < 34 %}
        <a data-role="button" data-icon="arrow-r" data-inline="true" data-iconpos="notext" class="ui-btn-right" href="{% url tippspiel_matchday_detail matchday_number=number|add:"1" %}">Next</a>
        {% endif %}
</header>

<section data-role="content">
    <form action="{% url tippspiel_matchday_detail number %}" method="post">
    {% csrf_token %}
    <ul data-role="listview">
        {% for match in matches %}
        <li>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <img src="{% static "img/emblems/80/" %}{{ match.team_home.handle}}.png" alt="{{ match.team_home.handle }}" title="{{ match.team_home.name }}" />
                </div>
                <div class="ui-block-b">
                    <p style="text-align: center; font-size: small; padding-top: 5px;">
                        {% if match.score_home == -1 or match.score_visitor == -1 %}
                        {{ match.date|date:'Y-m-d H:i' }}
                        {% else %}
                        {{ match.score_home }}:{{ match.score_visitor }}
                        {% endif %}
                    </p>
                    <input data-mini="true" style="text-align: center;" type="text" placeholder="0:0" id="Tipp-{{ match.id }}" name="Tipp-{{ match.id }}" />
                </div>
                <div class="ui-block-c" style="text-align: right;">
                    <img src="{% static "img/emblems/80/" %}{{ match.team_visitor.handle}}.png" alt="{{ match.team_visitor.handle }}" title="{{ match.team_visitor.name }}" />
                </div>
            </div>
        </li>
        {% endfor %}
        <li>
            <input type="submit" data-icon="check" data-iconpos="right" data-theme="b" value="{% trans "Save" %}" />
        </li>
    </ul>
    </form>
</section>

{% endblock %}