{% extends "tippspiel/base.html" %}
{% load i18n staticfiles %}
{% block body %}

<div class="pagination pagination-centered">
    <ul>
        {% if number > 1 %}
        <li><a href="/tippspiel/matchday/{{ number|add:"-1" }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for i in matchday_range %}
        <li{% if number == i %} class="active"{% else %} class="hidden-phone"{% endif %}><a href="/tippspiel/matchday/{{ i }}/">{{ i }}</a></li>
        {% endfor %}
        {% if number < 34 %}
        <li><a href="/tippspiel/matchday/{{ number|add:"1" }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</div>

<div class="page-header">
  <h1>{{ number }}. {% trans "matchday" %}</h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <caption>{% trans "Your tipps for this matchday." %}</caption>
                <thead>
                    <tr>
                        <th>{% trans "home" %}</th>
                        <th>{% trans "visitor" %}</th>
                        <th>{% trans "result" %}</th>
                        <th>{% trans "tipp" %} ({% trans "points" %})</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in matches %}
                    <tr>
                        <td>
                            <img src="{% static "img/emblems/25/" %}{{ m.team_home.handle }}.png" />
                            <abbr title="{{ m.team_home.name }}">{{ m.team_home.handle }}</abbr>
                        </td>
                        <td>
                            <img src="{% static "img/emblems/25/" %}{{ m.team_visitor.handle }}.png" />
                            <abbr title="{{ m.team_visitor.name }}">{{ m.team_visitor.handle }}</abbr>
                        </td>
                        <td>
                            {% if m.score_home == -1 or m.score_visitor == -1 %}
                            {{ m.date|date:'Y-m-d H:i' }}
                            {% else %}
                            {{ m.score_home }}:{{ m.score_visitor }}
                            {% endif %}
                        </td>
                        <td> <input type="text" class="input-small" style="margin: 0;" value="" placeholder="0:0" /> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="pull-right btn btn-large btn-primary">{% trans "save" %}</button>
        </form>
    </div>
</div>

{% endblock %}