{% extends "tippspiel/base.html" %}
{% load i18n %}
{% block body %}

<header data-role="header" data-position="fixed">
    <h1>{% trans "Change password" %}</h1>
</header>

<section data-role="content">
    <form action="{% url password_change %}" method="post">
        {% csrf_token %}
        <ul data-role="listview">
            {% for field in form %}
            <li data-role="fieldcontain">
                <label for="{{ field.name }}" class="ui-input-text">{{ field.label }} </label>
                {{ field }}
            </li>
            {% if field.errors %}
            {% for error in field.errors %}
                <li data-theme="e">
                    {{ error }}
                </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <li>
                <button type="submit" data-icon="check" data-iconpos="right" data-theme="b">{% trans "Save" %}</button>
            </li>
        </ul>
    </form>
</section>

{% endblock %}