{% extends "tippspiel/base.html" %}
{% load i18n staticfiles gravatar %}
{% block body %}

<header data-role="header" data-position="fixed">
    <h1>{% trans "Ranking" %}</h1>
</header>

<section data-role="content">
    <ul data-role="listview" data-filter="true">
    {% for player in players %}
        <li><a href="{% url tippspiel_player_detail player_name=player.user.username %}">
            {% gravatar_img player %}
            <h3>{{ player.rank }}. {{ player.user.username }}</h3>
            <p>{{ player.score }} {% trans "points" %}</p>
        </a></li>
    {% endfor %}
    </ul>
</section>

{% endblock %}