{% extends "tippspiel/base.html" %}
{% block body %}
<div class="page-header">
  <h1>Rangliste</h1>
</div>

        <div class="row-fluid">
            <section class="span12">
                <table class="table table-bordered table-striped">
                    <caption>Die aktuelle Rangliste.</caption>
                    <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Punktzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>
                                {% if player.user.id == user.id %}
                                <span class="badge badge-success">{{ player.rank }}</span>
                                {% else %}
                                {{ player.rank }}
                                {% endif %}
                            </td>
                            <td><a href="/tippspiel/player/{{ player.user.username }}">{{ player.user.username }}</a></td>
                            <td>{{ player.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
{% endblock %}
